@page "/login"
@using FlowerStore.Web.Models.Auth;
@using FlowerStore.Web.Services.Auth;
@layout SimpleLayout
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<MudGrid Justify="Justify.Center" Class="pa-10">
    <MudItem xs="7" sm="4">
        <MudPaper Class="pa-4">
            <Microsoft.AspNetCore.Components.Forms.EditForm Model="@model" OnValidSubmit="OnLogin">
                <Microsoft.AspNetCore.Components.Forms.DataAnnotationsValidator />

                <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Sign In</MudText>

                <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                    @Error
                    <br />
                    @ErrorDetail
                </MudAlert>

                <MudTextField T="string"
                                @bind-Value="model.UserName" For="@(() => model.UserName)"
                                Label="User name" 
                                HelperText="Enter user name"/>
                <MudTextField @bind-Value="model.Password" For="@(() => model.Password)"
                                Label="Password" 
                                HelperText="Enter password"
                                InputType="@InputType.Password"
                                Adornment="Adornment.End"/>

                <div Class="d-flex justify-space-between align-center">
                    <MudCheckBox For="@(() => model.RememberMe)" @bind-Checked="model.RememberMe" Label="Remember me?" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
                    <MudLink Href="/forgot-password">Forgot pwd?</MudLink>
                </div>

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Size="Size.Large"
                           ButtonType="ButtonType.Submit">Sign In</MudButton>
            </Microsoft.AspNetCore.Components.Forms.EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>


@code {

    string userName = "";
    string password = "";
    bool rememberMe = false;

    @* bool success;
    bool isValid; *@

    private bool ShowErrors;
    private string? Error;
    private string? ErrorDetail;

    private LoginModel model = new();

    async Task OnLogin()
    {
        ShowErrors = false;
        Error = "";
        ErrorDetail = "";

        var result = await AuthService.Login(model.UserName!, model.Password!);

        if (result.Success)
        {
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            Error = result.Error;
            ErrorDetail = result.Message;
            ShowErrors = true;
        }
    }

    void OnRegister(string name)
    {
    }

    void OnResetPassword(string value, string name)
    {
    }
}
